################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vairline.api/obj
/.vs
/vairline.ui/bin/Debug
/vairline.ui/obj
